.User{
    flex:4;
    padding: 20px;
}
.UserTitleContainer{
    display: flex;
    align-items:center;
    justify-content:space-between;
}
.UserAddButton{
    width: 80px;
    border:none;
    padding: 5px;
    background-color: teal;
    border-radius:5px;
    cursor: pointer;
    color: #fff;
    font-size:16px;

}
.Usercontainer{
      display: flex;
      margin-top: 20px; 
}
.userShow{
    flex: 1;
    padding:20px;
    box-shadow: -1px 4px 19px 0px rgba(0, 0, 0, 0.082);
    -webkit-box-shadow: -1px 4px 19px 0px rgba(0, 0, 0, 0.116);
    -moz-box-shadow: -1px 4px 19px 0px rgba(0, 0, 0, 0.178);
}
.userUpdate{
    flex: 2;
    padding:20px;
    box-shadow: -1px 4px 19px 0px rgba(0, 0, 0, 0.082);
    -webkit-box-shadow: -1px 4px 19px 0px rgba(0, 0, 0, 0.116);
    -moz-box-shadow: -1px 4px 19px 0px rgba(0, 0, 0, 0.178);
    margin-left: 20px;
}
.userShowTop{
    display: flex;
    align-items: center;

}
.userShowImage{
    width: 40px;
    height: 40px;
    border-radius:50%;
    object-fit: cover;
}
.userShowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.userShowUsername{
    font-weight: 600;
}
.userShowUserTitle{
    font-weight: 300;
}
.userShowBottom{
    margin-top: 20px;
}
.userShowTitle{
    font-size: 14px;
    font-weight: 600;
    color: rgb(175, 170, 170);
    
}
.userShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color:#444;
}
.UserShowIcon{
    font-size:16px !important;
    margin-right: 10px;

}
.userUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}
.userUpdateInput{
    border:none;
    width: 250px;
    border-bottom: 1px solid gray;
    height: 30px; 
}


.userUpdateTitle{
    font-size:34px;
    font-weight: 600;
}
.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.userUpdateItem>label{
    margin-bottom: 5px;
    font-size:14px;

}

.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.userUpdateUpload{
    display: flex;
    align-items: center;
    
}
.userUpdateIcon{
    cursor: pointer;
}
.userUpdateButton{
    border: none;
    border-radius:5px;
    padding:5px;
    cursor: pointer;
    background-color: darkblue;
    color: white;
    font-weight: bolder;
}

.userUpdateImage{
    width: 200px;
    height: 200px;
    border-radius:10px;
    object-fit: cover;
    margin-right: 10px;
}







